body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: min-content;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 10px;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.NaviDiv {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffa900;
    padding: 6px;
    border: 2px solid #b47208;
    border-radius: 5px;
    margin: 0 auto;
    width: auto;
}
.navigationlist {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigationlist li {
    background-color: white;
    padding: 9px;
    margin: 2px 0;
    border: 2px solid #272726;
    border-radius: 5px;
}
.content-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.main-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 66%;
}

.SectionDiv {
    width: auto;
    background-color: #00b763;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    margin: 10px 0 0;
}
.ArticleDiv {
    width: auto;
    background-color: #b78d00;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
}

.aSideDiv {
    width: 30%;
    background-color: #ff6e6e;
    border-style: solid;
    border-width: 3px;
    padding: 63px;
    margin: 10px 0 ;
}
footer {
    background-color: #272726;
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    border-top: 13px solid #ffa900;
    margin-top: 40px;
}